   h1 {
        color: orange!important;
      }
        h1 {
        color: rgb(255, 0, 0);
      }
      a {
        color: white;
        padding: 5px;
        text-decoration: none;
        font-size: 18px;
        text-align: right;
      }

      .nav {
        width: 100%;
        background: green;
        text-align: right;
        padding: 5px;
        display: flex;
        justify-content: space-between;
      }